<div id="main">
    <div class="container col-md-6 col-lg-4 my-5 px-4 rounded">


        <form action="/login" method="post">

            <h1 class="h3 my-4 fw-normal text-uppercase custom_bold-headline">Login</h1>

            <div class="form-floating mb-4">
                <input class="form-control" name="un" id="un" placeholder="Username" required="required">
                <label for="un">Username</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" class="form-control" name="pw" id="pw" placeholder="Password" required="required">
                <label for="pw">Password</label>
            </div>

            <button class="btn custom_button w-100 py-2 mb-4" type="submit">Let's go</button>

        </form>


    </div>
</div>