:root {
  /* Color Code */
  --primary: #cb4335;
  --light: #F5F2ED;

  --button-hover: #b33729;
}

a:hover {
  color: var(--primary) !important;
}

.custom_italic {
  font-style: italic;
}

.custom_button {
  color: #FFF;
  background-color: var(--primary);
}

.custom_button:hover {
  color: #FFF;
  background-color: var(--button-hover);
}

* {
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom_bg-color {
  background-color: var(--light);
}

.custom_project-card {
  border-bottom: var(--primary) 0.1rem solid;
}

.custom_bold-headline {
  font-weight: 700;
}

.custom_fw-light {
  font-weight: 200;
}

.custom_fs-small {
  font-size: 0.8rem;
}

.custom_underlined-text {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-underline-offset: 0.5rem;
}

.custom_header {
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
}